<html layout:decorate="~{layout/project/layout}">
    <div layout:fragment="project-content">
       <div th:each="task :${project.task}">
               <div th:attr="id=${'project-task'+task.id}" class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${task.title}">Project Demo No. 9</h5>
                    <p class="card-text" th:text="${task.description}">My project demo description no 9</p>
                     <a href="#" class="btn btn-secondary">Edit</a>
                      <a th:href="@{'/project/task/'+${task.id}}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
     </th:block>
    </div>
</html>
