<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:fragment="title">Layout page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/timeject.css}">
<th:block th:replace="fragment/bootstrap"></th:block>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<th:block th:replace="fragment/fontawesome"></th:block>
<th:block th:replace="fragment/timeject-scripts"></th:block>
</head>
<body>
    <div th:replace="fragment/component/message-bar"></div>
	<header>
		<div layout:fragment="nav-bar">
			<th:block th:replace="fragment/component/nav-bar"></th:block>
		</div>
	</header>
	<div class="parent-container">

		<div class="container">
			<div class="row">
				<div class="col">
					<div id="projects" th:insert="fragment/projects"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div id="content" layout:fragment="content" class="container"></div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	    <th:block th:replace="fragment/footer"></th:block>
	</footer>
</body>
</html>