<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home <span
				class="sr-only">(current)</span></a> <a class="nav-item nav-link"
				href="#">
				<button type="button" class="btn btn-default btn-sm"
					data-toggle="modal" data-target="#add-project">
					<i class="fas fa-plus">Add Project</i>
				</button>
			</a>
		</div>
	</div>
</nav>

<div class="modal fade" id="add-project" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add project</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="project-name">Name</label> <input type="text"
							class="form-control" id="project-name"
							placeholder="My magic project">
					</div>
					<div class="form-group">
						<label for="project-description">Description</label> <input
							type="text" class="form-control" id="project-description"
							placeholder="This project makes all your dreams true">
					</div>
					<label for="project-type">Type</label>
					<select
						class="custom-select" id="project-type-select">
					</select> 
					<label for="project-status">Status</label>
					<select
						class="custom-select" id="project-status">
					</select>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>